[2017-07-27 22:16] CataRay opened #1 "BRATS2017 data set"
The registration time for Brat seems to have ended. Could you please provide an alternative for downloading the data?

[2017-07-27 22:31] zsdonghao commented on #1
@CataRay As I know, users have to apply the data from the organiser, it is illegal to distribute the data without organiser's permission.

[2017-08-03 11:39] ywangc opened #2 "DICE"
I got dice equal to one every epoch?
How to handle that?

[2017-08-04 12:47] zsdonghao commented on #2
check the buttom of the readme

[2017-08-06 19:51] zsdonghao opened #3 "Online Discussion"
Please join Slack, the invite link as follow:

https://join.slack.com/t/tensorlayer/shared_invite/MjExMjMzODAwNjI0LTE0OTk4ODEzMjUtNmVjNjQ4ZjMzMw

[2017-08-18 18:26] luisremis opened #4 "Pre-trained model"
I was wondering if you would share a pre-trained model.
I would need to run inference-only, and training the model is taking longer than expected.

Thanks for sharing this project!

[2017-08-26 14:18] joydeepdas commented on #1
Regarding the data if you can come over to mailing please. joydeepdas994@gmail.com

[2017-08-26 14:21] zsdonghao commented on #1
Hi all, please know that according to the license of BRATS dataset, we are not allow to distribute the data.

Everyone should apply the data from BRATS, it will take only 4~7 days and it is free.

[2017-08-26 14:22] joydeepdas commented on #1
But site says registration is closed, still will they provide us?

[2017-09-01 13:21] John1231983 opened #5 "Performance with/without augmentation?"
Could you show me the performance of your method without augmentation? I would like to know how many percents do we have if we apply augmentation. Thanks

[2017-09-01 21:13] joydeepdas opened #6 "Pre-proccessing"
In 2015 dataset , survival_data .csv is not present can you please explain what is there ?

[2017-09-02 17:27] urstrulyajay opened #7 "csv file for 2015 data"
hi

Can you help us where we can find csv data for 2015 data

[2017-10-03 09:17] leacornelio opened #8 "3D UNet"
is there a way to convert this UNet implementation to 3D?

[2017-10-03 09:52] zsdonghao commented on #8
this one may help http://tensorlayer.readthedocs.io/en/latest/modules/layers.html#id9

[2017-10-07 04:05] ujjwalbaid0408 commented on #7
There is no as such file for BRATS 2015 data.

[2017-10-07 04:23] ujjwalbaid0408 commented on #3
A message is displayed as "This invite link is no longer active" for the above like.

[2017-10-07 09:40] zsdonghao commented on #3
Update link : https://join.slack.com/t/tensorlayer/shared_invite/enQtMjUyMjczMzU2Njg4LWI0MWU0MDFkOWY2YjQ4YjVhMzI5M2VlZmE4YTNhNGY1NjZhMzUwMmQ2MTc0YWRjMjQzMjdjMTg2MWQ2ZWJhYzc

[2017-10-07 09:58] ujjwalbaid0408 commented on #3
Thanks for the invite. Thanks for the code. There are various channels like coding CV, GAV etc. In which channel should I post the query? Is this code is implementation of your paper https://arxiv.org/pdf/1705.03820.pdf  ?? I have not found code for test data.

[2017-10-21 20:24] leacornelio opened #9 "Index Error"
When I removed parts of the code that deal with LGG, an index error comes up.

<img width="230" alt="error" src="https://user-images.githubusercontent.com/28353595/31855587-e8ef67cc-b662-11e7-9919-2a63a9c637cc.PNG">

I'm only interested in the HGG half of the dataset. Do you have an idea on how to solve this issue?

[2017-10-23 05:22] NathanielNguyen11 commented on #7
the same issue . The Release of 2017 training datasets period was closed.

[2017-10-23 07:52] NathanielNguyen11 opened #10 "about survival_data.csv"
Can you give me the survival_data.csv file for researching purpose?

[2017-10-27 09:55] Lilylilililili opened #11 "survival_data.csv"
I do understand what is the survival_data.csv file, could u provide me?

[2017-11-17 07:00] hanwei2008 commented on #11
me too

[2017-11-17 11:27] zsdonghao commented on #11
Note that according to the license, user have to apply the dataset from BRAST, please do not contact me for the dataset. Many thanks.

[2017-11-17 11:27] #11 closed

[2017-11-17 11:27] zsdonghao commented on #10
Note that according to the license, user have to apply the dataset from BRAST, please do not contact me for the dataset. Many thanks.

[2017-11-17 11:27] #10 closed

[2017-11-20 13:22] PoonamZ opened #12 "Understanding of code"
Is anyone understood the code???????
Please provide the sources how shall i understand the tensorlayer programming .

[2017-11-23 07:02] hanwei2008 opened #13 "X is not consistent between TRAINING and EVALUATION"
as to "b_images", there is a transpose in TRAINING while not in EVALUATION

[2017-11-23 07:07] #13 closed

[2017-11-30 08:17] gaody12345 commented on #1
Can I use the BRATs2015 datasets to train the model ? or  have to use the BRATs2017 datasets
2015datasets
--BRATS2015_Training
--Testing

[2017-11-30 17:12] zsdonghao commented on #1
@gaody12345 you can use any data to train, but you may need to write your own code to load the data~

[2017-12-22 07:36] weisq2691 opened #14 "How to download training data?"
I can not find training data in [http://braintumorsegmentation.org/](url).Can anyone send me a download link?
Thanks~

[2017-12-28 06:05] afmsaif opened #15 "[!] Load checkpoint/u_net_all.npz failed!"
while i was running this code this appears [!] Load checkpoint/u_net_all.npz failed! . what is the problem. i am running this code on cpu.

[2017-12-28 06:14] zsdonghao commented on #15
it is correct. if only if you have a trained model, you can load it.

[2017-12-28 06:14] #15 closed

[2017-12-28 06:18] afmsaif commented on #15
do i have to run train.py before model.py?

[2018-01-02 04:03] rupalkapdi opened #16 "Code For Testing"
Thank you for sharing your code.
I have trained the model and getting the .npz file which contains weights of the trained model.
Can you share the code for testing the images?
Thank you.

[2018-01-04 11:46] ahuczp opened #17 "loss weight"
In the U-net paper ,the loss is calculated with a weight  in order  to balance the class frequencies.But in your code file,I can not find this code . By the way ,I am a Chinese ,my English is poor and I am new  to tensorlayer.

[2018-01-04 17:15] eddyrene commented on #14
You need to register in the page : http://www.med.upenn.edu/sbia/brats2017.html and then wait (some days, maybe weekends ) for your link to download dataset.

[2018-01-22 08:44] nannanliuliuliu opened #18 "HOW"

[2018-01-22 08:46] nannanliuliuliu opened #19 "traing dataset not found"
I can not find training data in http://braintumorsegmentation.org/.Can anyone send me a download link? Thanks~，and The registered link is closed

[2018-01-22 10:11] zsdonghao commented on #18
what is that?

[2018-01-22 10:11] #18 closed

[2018-01-29 08:12] d022328 commented on #1
I'd like to use BRATs2015 training dataset, but registration is needed. Could anyone make the dataset accessible for me? Thanks.

[2018-01-29 08:18] d022328 commented on #1
I'd like to use BRATs2015 training dataset, but registration is needed. Could anyone make the dataset accessible for me? Thanks.

[2018-01-29 08:19] AW22 commented on #1
I'd like to use BRATs2015 training dataset, but registration is needed. Could anyone make the dataset accessible for me? Thanks.

[2018-01-30 09:07] carrylv opened #20 "survival data"
there is a survival_csv_path, is that none, or have some data in it. ps: i train the model with 2015 data. is there any problem?

[2018-02-02 07:34] denzilsaldanha opened #21 "Gpu requirements"
Would it be possible to run the training model on a Nvidia gtx 1060 6GB ram . Would the training time be longer than 18 hours in this case?

[2018-02-08 07:36] AizazSharif opened #22 "Data format issue"
I have acquired the dataset which is BRATS 2015. It contains .mha files but the code deals with .nii.gz files. Need help in this since ita related to my thesis project.

[2018-02-20 10:41] qieaaa opened #23 "it seems this demo only runs on cpu"
I read you book and tried this demo
but I watch `nvidia-smi` ,it seems my GPU didn't work and my cpu are almost 100% usage
thank you !

[2018-02-20 11:44] qieaaa commented on #23
all right .... `with tf.device('/gpu:0')` change to `with tf.device('/gpu:1')` solve this
by the way, it is really memory cost ... half of the dataset needs more than 35 GB RAM

[2018-02-20 11:44] #23 closed

[2018-02-22 15:25] PoonamZ opened #24 "Checkpoint"
Is anyone gone through the Evaluation ??

[2018-02-22 15:27] #12 closed

[2018-02-24 08:06] PoonamZ commented on #16
@rupalkapdi have you saved the volume of predicted tumor results ?
If yes, please can you share the code .

[2018-02-26 12:45] rupalkapdi commented on #16
I have used the same code which is provide @ zsdonghao/u-net-brain-tumor

[2018-02-26 15:45] vibhugarg123 commented on #4
Yes, please share pre-trained model and the way it can be used to test data

[2018-02-26 15:46] vibhugarg123 commented on #21
What is the training time for a CPU

[2018-02-27 07:42] PoonamZ commented on #16
ok
thank you .

[2018-03-01 06:14] denzilsaldanha commented on #16
How exactly how you used the code for testing purposes?

[2018-03-01 06:14] #21 closed

[2018-03-07 14:08] how0723 opened #25 "how to get the training dataset ?"
how to get the training dataset ?

[2018-03-19 07:28] dxs66 commented on #16
@rupalkapdi The meaning you said is that when you had run the model.py,you can get the .npz files ？And can you tell me ,after running the model.py where the .npz files is .

[2018-03-19 07:31] dxs66 commented on #16
@rupalkapdi Can you give me the test.py and the test image? Thank you !

[2018-03-19 09:53] rupalkapdi commented on #16
Yes I get the .npz file which contains the weights for the U-net architecture. That file is created in checkpoints folder.

[2018-03-19 09:55] rupalkapdi commented on #16
@dxs66 Within a day or two i will upload that file. Thank you.

[2018-03-19 09:57] rupalkapdi commented on #16
@dxs66  I will upload this file within some days.
Thank you.

[2018-03-20 01:03] dxs66 commented on #16
@rupalkapdi  Hi, runpalkapdi. After I run the train.py, I just get the checkpoint folder. But there are no files in the folder? I just run the cold the same as zsdonghao/u-net-brain-tumor. My turn is that paper_data_with_valid.py , model.py ,train.py .

[2018-03-31 12:16] ahuczp commented on #8
@leacornelio   hey , I also want to convert UNet to 3D UNet, have you ever completed 3D UNet

[2018-03-31 12:34] leacornelio commented on #8
We didn't proceed with the 3D implementation but this paper might help
https://arxiv.org/abs/1606.06650

On 31 March 2018 at 20:16, ahuczp <notifications@github.com> wrote:

[2018-04-16 04:41] bigbigbean opened #26 "load checkpoit failed"
It reported that load checkpoint process was failed.
[TL] [!] Load checkpoint/u_net_all.npz failed!
Do you know how to fix it? Thank you.

[2018-04-16 18:26] shaniceC opened #27 "Save all slices"
How can I modify the code to save every slice of the segmented tumors?

[2018-04-28 13:22] PoonamZ opened #28 "MemoryError"
@zsdonghao I am getting the memory error like this, What is the solution for this error?

Traceback (most recent call last):
  File "train.py", line 279, in <module>
    main(args.task)
  File "train.py", line 78, in main
    y_test = (y_test > 0).astype(int)
MemoryError

[2018-04-29 05:14] PoonamZ commented on #28
@zsdonghao now I am getting the error like this. Please, Can you suggest the solution for this?

2018-04-29 04:59:36.049069: E tensorflow/stream_executor/cuda/cuda_driver.cc:967] failed to alloc 1073741824 bytes on host: CUDA_ERROR_OUT_OF_MEMORY
2018-04-29 04:59:36.113696: W ./tensorflow/core/common_runtime/gpu/pool_allocator.h:195] could not allocate pinned host memory of size: 1073741824
2018-04

[2018-04-29 14:27] zsdonghao commented on #28
I think you need more memory, or reimplement the way to read data e.g. TF datasets, TFRecord

[2018-04-30 05:04] PoonamZ commented on #28
@zsdonghao Can you please share the checkpoints for edema, necrotic and enhanced.
Thank you so much.

[2018-04-30 05:06] PoonamZ commented on #27
@shaniceC If you have done with this code can you please share me the checkpoints for the edema, necrotic and enhanced.

Thank you

[2018-04-30 05:11] PoonamZ commented on #27
@shaniceC append all the predicted masks in single array and then display them.

[2018-04-30 05:16] PoonamZ commented on #16
@rupalkapdi can you please share the checkpoints for the necrotic, edema and enhanced.

thank you.

[2018-04-30 05:55] PoonamZ commented on #16
ok
Thank you.

[2018-05-01 05:41] PoonamZ commented on #28
@zsdonghao please can u share me the checkpoints .
Thank you

[2018-05-15 12:06] brownpanther commented on #27
Did you guys split up the training masks to one hit encode them? I have a memory error so I'm wondering what everyone else is doing for it

[2018-05-20 06:36] #28 closed

[2018-05-20 06:40] PoonamZ commented on #24
@nebulaV @parisburn Can you share me the checkpoints for the edema, enhanced and necrotic tumor?
Thank you.

[2018-05-28 13:58] KingofAsianPopJC commented on #1
@AW22 here's a link for BRATs2015 dataset in BaiduNetdisc:
link：https://pan.baidu.com/s/1rBcFEPY6IOOZgkU_BloasA
password for extract ：j5ux

[2018-06-24 20:42] SanketBadhe opened #29 "What is size of data? how much training data require for unet?"

[2018-06-24 20:44] zsdonghao commented on #29
this paper can answer your question https://arxiv.org/pdf/1705.03820.pdf

[2018-06-28 19:40] dragonsharma opened #30 "while trainig (python train.py --task=all) i got error"
while trainig (python train.py --task=all) i got error

Traceback (most recent call last):
  File "train.py", line 250, in <module>
    main(args.task)
  File "train.py", line 65, in main
    import prepare_data_with_valid as dataset
  File "C:\delete\shared_f\braintumor\u-net-brain-tumor-master\prepare_data_with
_valid.py", line 351, in <module>
    X_train_input = np.asarray(X_train_input, dtype

[2018-06-28 19:48] zsdonghao commented on #30
1. need a machine with more memory
2. smaller batch size
3. reimplement the data loading part with tensorflow dataset API

hope it helps.

[2018-06-28 20:33] dragonsharma commented on #30
hey :)
1. i have machine with 16gig ram is it enough ?
2. what you mean by batch sie exactly ?
3. where is data loading part exactly ?
due you mean that i should replace this code .
if DATA_SIZE == 'all':
    HGG_path_list = tl.files.load_folder_list(path=HGG_data_path)
    LGG_path_list = tl.files.load_folder_list(path=LGG_data_path)
elif DATA_SIZE == 'half':
    HGG_path_list = tl.files.load_fol

[2018-06-28 20:35] dragonsharma commented on #30
Actually i am trying to run you solution with brats2018 dataset .

[2018-07-03 09:33] cb632482135qq commented on #2
I meet the same question.
When I begin the code "python train.py --task=necrotic", at the beginning, the dice is between 0.7 and 0.8, however, after about 30 epoches, the dice becomes 1 all  the time.
My data_size = "small".
I sincerely hope that someone can give me some constructive suggestions！ @zsdonghao @ywangc

[2018-07-07 15:22] poornasandur commented on #22
Use c3d from itk-snap website to convert .mha to .nii.gz format

[2018-07-22 13:31] weilaweila opened #31 "System Error throw while training"
Traceback (most recent call last):
  File "C:\Users\zlshu\AppData\Roaming\Python\Python36\site-packages\numpy\lib\stride_tricks.py", line 251, in <genexpr>
    if all(array.shape == shape for array in args):
SystemError: error return without exception set

[2018-07-24 17:43] smosanu commented on #2
@cb632482135qq I had this same issue, did a few adjustments to the training, but what really solved the problem was lowering the learning rate, in my case I added one more zero (lowered it by 10, perhaps too much). The learning rate is later updated, so this is only a starting learning rate, therefore it should be alright.

[2018-07-25 08:57] MiaoZhang0525 commented on #30
I also got this same issue. I found it is not because of batch size, and the error is in nib.load(image_path).get_data(). So, could you tell us use which tensorflow load api could replace this nib load???

[2018-07-31 05:29] ssyip commented on #29
@zsdonghao  Maybe I am not reading the paper careful enough. Didn't look like the paper really justified their data volume. Did I miss that? Could you help? Thank you!

[2018-09-20 18:06] samieti02 opened #32 "Feature Visualization"
Hello Sir,

how can we visualize the feature in the network?
Can you give us some advices regarding that?

Thanks
Sami

[2018-09-20 21:03] zsdonghao commented on #32
Hi, there are many studies for network visualisation.
For examples,
https://icmlviz.github.io/icmlviz2016/assets/papers/4.pdf

https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=18&ved=2ahUKEwi10ty6vcrdAhVKL8AKHbMpCp8QFjARegQIABAC&url=http%3A%2F%2Fcs231n.stanford.edu%2Fslides%2F2017%2Fcs231n_2017_lecture12.pdf&usg=AOvVaw3swC6DPdnEEMHio4SXi8mD

[2018-10-11 18:07] TigabuYaya commented on #16
Dear all, can you please share me the outputs u got. Everything u discused here.

[2018-10-11 18:12] TigabuYaya commented on #2
Can u please provide me the outputs u came across. Specially, images showing the tumorous parts represented in different respwctive colors.

[2018-10-26 01:46] cv-shiyanshi opened #33 "I run the train.py sevral times, but DICE is always equal to one."
I used tensorflow-gpu1.8 and tensorlayer1.11, and I changed the original ```up3 = DeConv2d(conv4, 256, (3, 3), (nx/4, ny/4), (2, 2), name='deconv3') ```  to  ```up3 = DeConv2d(conv4, 256, (3, 3), strides=(2, 2), name='deconv3')``` in model.py and the ```lr=0.00001``` .
According to readme, I restarted to train the models, but the 1-dice is always equal to one. Can you give me some advice to make i

[2018-10-26 06:36] cv-shiyanshi commented on #33
In tensorlayer1.11, the paramater ```out_size`` of ```DeConv2d``` has been removed. So, I removed the '''out_size```  to run this code.

[2018-11-01 21:26] abderhasan opened #34 "Do you apply the algorithm on 3D or 2D data?"
Hello,

I just want to ask if you apply the algorithm on 3D data (nii file) or 2D data (slice-by-slice)?

Thanks.

[2018-11-28 17:39] takrouni commented on #1
Hello,
Please i need the Brats2017 dataset
thank your for your advances

[2018-12-02 01:54] aayanlov commented on #1
Dear @KingofAsianPopJC i could not able to download is its asking for username and password after i click the download link..

[2018-12-27 07:57] yaoyao14 opened #35 "u_net_all.npz doesn't exist."
Sorry to bother you,I tried to run the programme,I run 'train.py',but I got this error,but I don't know how to resolve it,thank you for your reply.

[TL]   got  45: u_net/uconv1/bias:0   (1,)
INFO:tensorlayer:  got  45: u_net/uconv1/bias:0   (1,)
[TL] ERROR: file checkpoint/u_net_all.npz doesn't exist.
ERROR:tensorlayer:ERROR: file checkpoint/u_net_all.npz doesn't exist.

[2018-12-28 08:31] rupalkapdi commented on #16
@yaoyao14 You have to run train.py file directly. You will get the npz file in checkpoint folder after one successful epoch training. Afterwards same npz file is updated on completion of each epoch.

[2019-01-10 03:37] ZLDforever opened #36 "when using u_net_bn in model,i get the error"
when using u_net_bn in model,i get the error "train_op = tf.train.AdamOptimizer(lr_v, beta1=beta1).minimize(loss, var_list=t_vars)",and "ValueError: No variables to optimize",what's the reason,how can i figure out ?

[2019-01-10 05:02] zsdonghao commented on #36
please report your TF, TL and python versions.

[2019-01-11 01:54] ZLDforever commented on #36
what i am using now is:
TF=1.6
TL=1.7
python=3.5
i had run this code ,but the system error occured: failed call to cuInit: CUDA_ERROR_UNKNOWN
,retrieving CUDA diagnostic information for host: amax.
while the TITAN X was already  installed

if convenient,it's very appreciate to tell me what's the suitabe version.
i have another doubt,to compare the result of different models, can i add a new model

[2019-01-11 01:59] ZLDforever commented on #36
the version i am using is:
CUDA: 9.0.176
CUDNN:#define CUDNN_MAJOR 7
#define CUDNN_MINOR 0
#define CUDNN_PATCHLEVEL 5
#define CUDNN_VERSION    (CUDNN_MAJOR * 1000 + CUDNN_MINOR * 100 + CUDNN_PATCHLEVEL)

[2019-01-18 06:16] sharmarochan opened #37 "when DATA_SET == 'small ': dev_index_HGG, test_index_HGG is empty"
if we select the DATA_SET=='small' and  print (dev_index_HGG, test_index_HGG ), it  returns the blank arrays.

[2019-01-24 06:49] rupalkapdi opened #38 "TensorFlow Implemetation"
Do you have implementation of brain tumor segmentation code directly in tensorflow without using tensorlayer? If yes, can you share the same?
Thank you.

[2019-02-06 06:51] #38 closed

[2019-02-13 10:19] pjrockzzz opened #39 "Survival Data problem"
I have registered and got the login details. I have downloaded the dataset using details but I didn't find .csv file in it. Could you tell me, where the file is present.

[2019-02-13 10:35] pjrockzzz commented on #7
Did the issue of .csv get resolved ? I am also facing the same problem ?

Thankyou

[2019-02-13 10:36] pjrockzzz commented on #7
Did the issue of .csv got resolved ? I am also facing the same problem.

Thankyou

[2019-02-16 18:57] manmohansingh01 opened #40 "i am getting a attribute error"

[2019-02-16 18:57] manmohansingh01 opened #41 "i am getting a attribute error"

[2019-02-16 18:58] manmohansingh01 commented on #41
in normalize_padding
padding=value.lower()

'tuple has no attribute lower'

[2019-02-16 18:59] #40 closed

[2019-02-19 10:59] achintacs90 opened #42 "Attribute error : tuple object has no attribute lower"
while i am trying to run train.py file i get attribute error : tuple object has no attribute lower , i am using cpu for training ,
![screenshot from 2019-02-19 16-13-46](https://user-images.githubusercontent.com/43037693/53010464-03678280-3464-11e9-9929-eeac53797150.png)

[2019-02-19 11:05] achintacs90 commented on #41
i am also getting same error , if you will solve then please post the solution

[2019-02-20 09:22] achintacs90 opened #43 "TypeError: __init__() got an unexpected keyword argument 'out_size'"
* After conv: Tensor("u_net/conv8/leaky_relu:0", shape=(5, 1, 1, 512), dtype=float32, device=/device:CPU:0)
Traceback (most re
![screenshot from 2019-02-19 18-02-42](https://user-images.githubusercontent.com/43037693/53080643-1d19d000-351f-11e9-9907-5822ddb25fab.png)
cent call last):
  File "train.py", line 250, in <module>
    main(args.task)
  File "train.py", line 121, in main
    net = model.u

[2019-02-22 08:29] anitchris commented on #9
I am facing the same error. But I haven't removed any part of the training data. but the same problem of index error  is coming up. What should I do?

[2019-02-22 08:35] anitchris commented on #9
@leacornelio, where you able to overcome this issue? If possible, can you explain the solution?

[2019-02-22 09:18] anitchris commented on #42
did you find the reason? any solution for this? faced with the same problem..

[2019-02-23 09:33] YYsmith commented on #41
I also get the same error, is there some solution?

[2019-02-23 16:39] DanonOfficial commented on #41
Actually yes, downgrade you tensorflow to 1.7.2

[2019-02-24 06:20] YYsmith commented on #15
I also get this problem. Is there any solution?

[2019-02-24 07:53] YYsmith commented on #41
Thank you. I solved it with your method!

[2019-02-24 07:59] YYsmith commented on #15
We can ignore this message and the program will continue to run

[2019-02-24 16:13] takrouni commented on #39
Hello,
same problems!
could you tell me how i can find or download this files?
thank you

[2019-02-25 03:59] anitchris commented on #30
how did you resolve this problem?

[2019-02-25 05:14] achintacs90 commented on #41
can you please tell me how to downgrade tensorlayer to 1..7.2 in ubuntu

[2019-02-27 11:43] achintacsgit commented on #42
downgrade your tensorlayer to 1.7.2

[2019-02-27 11:43] #42 closed

[2019-02-27 11:44] achintacsgit commented on #43
i got the solution
just downgrade tensorlayer to 1.7.2

[2019-02-27 11:44] #43 closed

[2019-02-27 11:45] achintacsgit commented on #41
thank so much

[2019-03-14 13:16] 1160914483 opened #44 "Request to know the test results of the Brats17 verification set"
Hello
Can you tell me what the dice scores you can get on the brats17 verification set for your predecessor?

[2019-03-17 17:06] adarsheng1 commented on #15
But the program gets failed after this exception.

[2019-03-22 22:10] nasim-aust commented on #6
Give me your email, I can share it.

[2019-03-22 22:11] nasim-aust commented on #7
There is a survival dataset in CSV format.

[2019-03-22 22:14] nasim-aust commented on #25
You can find the dataset here: http://www.braintumorsegmentation.org/

[2019-03-24 06:40] adarsheng1 opened #45 "How much time does it take to train the data model for 'all' case"

[2019-03-24 06:46] adarsheng1 commented on #16
Hi rupalkapdi. How much time does it take to create the npz file for first time.

[2019-03-25 05:34] rupalkapdi commented on #16
Running this code, on lower capacity GPU for 100 epochs takes around 7 days.

[2019-04-02 09:15] cnuzh commented on #41
Hi，I also get the same error，but I don‘t know how to downgrade the tensorlayer to 1.7.2,could you tell me what's the command? many thanks.

[2019-04-02 20:09] hadign20 opened #46 "'tuple' object has no attribute 'lower'"
I am trying to train the model using this command:
`python train.py --task=all`

But after the `prepare_data` is done it shows an error like this:

![image](https://user-images.githubusercontent.com/24352869/55432643-679c5c80-5561-11e9-94ab-2d99f815263e.png)

My version of tensorflow is **1.13.1**. How can I solve this problem without downgrading the version of tensorflow?

[2019-04-03 07:08] cnuzh commented on #22
hi，I have some original .mha data,and some corresponding label data , .tre format ,do you know how to read the label data? Many thanks!

[2019-04-04 06:14] cnuzh commented on #16
Hi,do you have the testing code,now?

[2019-04-05 09:08] rupalkapdi commented on #16
Yes, I have developed from training code itself.

[2019-04-05 11:19] cnuzh commented on #16
could you share it with me？Many,thanks.

[2019-04-06 05:10] adarsheng1 commented on #16
Hi rupalkapdi

I am runnning my code since many days. Only 3 epochs are generated. I don't have GPU and I am using CPU for this code.
I have 2.7 GHz CPU and 16 GB RAM.
Is it possible with this configuration?

[2019-04-09 14:57] adarsheng1 opened #47 "View brain image and segmented image."
How we can view the brain MRI and finally the segmented image.

[2019-04-10 08:35] rupalkapdi commented on #16
No, It will take too long to complete. We need GPU to run this code.

Thank you.

[2019-04-10 08:36] rupalkapdi commented on #16
Can you share your id on which I send the code?

[2019-04-13 03:49] DangProgram commented on #46
I have the same problem. Have you solve it ? Could you give me  a hand?

[2019-04-17 02:03] BIGGERYI commented on #16
Hi rupalkapdi, I have trained the medel, could you share the testing code with me?
Thank you.

[2019-04-23 09:08] blllin commented on #46
I have the same problem.Did you solve it?

[2019-04-24 01:22] blllin commented on #35
Have you solve this problem?

[2019-04-24 09:55] adarsheng1 commented on #16
Hi rupalkapdi, What is the minimum GPU configuration required for this code.

[2019-04-29 08:32] cnuzh commented on #16
My email address is hao_zhang12345@163.com.Many thanks!

[2019-04-29 09:02] rupalkapdi commented on #16
@adarsheng1 depends on the GPU configuration

[2019-04-29 09:02] rupalkapdi commented on #16
@cnuzh Sent

[2019-04-29 09:05] cnuzh commented on #16
Thanks！

[2019-05-07 10:11] GYN199 commented on #16
Hello, thank you very much for the code you Shared. Can you share the code for testing the images? Thank you very much.

[2019-05-17 16:06] adarsheng1 commented on #16
Hi @rupalkapdi Can you please tell what is your GPU configuration. Can you please give me the test.py and the test image?

[2019-05-22 15:24] adarsheng1 commented on #16
Hi Cnuzh
Can you please share the test.py and test image. My email id is adarsheng1@gmail.com

[2019-06-01 12:23] jdavidd opened #48 "Pretrained to make transferlearning"
Hello, Ihave 3k images with T1 brain tumor, and i manage to obtain 50% mean IOU. Can you put the pretrained weights, to see if transfer learning is helping?

[2019-06-08 09:34] Lafite-Yu commented on #46
That's because your tensorlayer version is newer than the author's, you can directly delete the `output` parameters in DeConv2D.

By the way, my tensorlayer version is 1.11.0, after the modification, it works well, and I'll upload my edited version later.
@blllin @DangProgram @hadi-ghnd

[2019-06-08 09:35] Lafite-Yu commented on #19
You can use BraTS2018 dataset, it's the same and it can be obtained.

[2019-06-08 13:45] Lafite-Yu commented on #47
https://github.com/Lafite-Yu/BraTS_2018_U-Net/blob/master/run.py

[2019-06-15 16:44] sapnii2 opened #49 "Error: Your CPU supports instructions that TensorFlow binary not compiled to use: AVX2"
I am running run.py but gives error:

(base) G:\>cd BraTS_2018_U-Net-master

(base) G:\BraTS_2018_U-Net-master>run.py
[*] creates checkpoint ...
[*] creates samples/all ...
finished Brats18_2013_24_1
2019-06-15 22:05:45.959220: I tensorflow/core/platform/cpu_feature_guard.cc:141]
 Your CPU supports instructions that this TensorFlow binary was not compiled to
use: AVX2
Traceback (most recent call l

[2019-06-16 09:13] sapnii2 commented on #49
What are dependencies to run the whole code on CPU and GPU?
I installed TF 1.13. TL 2.0, PY37
Thanks, Please provide step by step process as am new to TF.
I am getting attribute errors with run.py and not able to install TL you specified.

[2019-06-16 09:15] zsdonghao commented on #49
please downgrade TF to 0.11 and TL to 1.11

[2019-06-16 17:41] sapnii2 commented on #49
Hi,
thank you for response.
I am new user of TF. I am using Windows 8.1, CPU, Also nvidia GPU card is there but i dont know how to utilize it.
I uninstalled previous TF, TL.
Tried to install TF0.11 but the following message is on Anaconda prompt (python 3.7):
----------------------------------------------------------------------------------------
(base) G:\test>pip install tensorflow==0.11.0rc0
Co

[2019-06-16 17:57] sapnii2 commented on #49
Hi,
thank you for the response.
I am a new user of TF. I am using Windows 8.1, CPU, Also Nvidia GPU card is there but I don't know how to utilize it.
I uninstalled previous TF, TL.
Tried to install TF0.11 but the following message is on Anaconda prompt (python 3.7):

**(base) G:\test>pip install tensorflow==0.11.0rc0
Collecting tensorflow==0.11.0rc0
Could not find a version that satisfies the requ

[2019-06-17 07:55] sapnii2 commented on #20
you download brats2017 by registering and that csv file will come with the dataset.

[2019-06-17 07:57] sapnii2 commented on #22
import SimpleITK as sitk

root_path = 'D:/Python-work/convertmhaTonii'
mha_path = root_path + '/mhafile/brats_2013_pat0010_1/brats_2013_pat0010_1_Flair.mha'
nii_path = root_path + '/niifile/brats_2013_pat0010_1/brats_2013_pat0010_1_Flair.nii'
img = sitk.ReadImage(mha_path)
sitk.WriteImage(img,nii_path)

Use above code to convert file format

[2019-06-19 18:37] sapnii2 commented on #45
if you keep only 10 folders of the dataset, it takes 6 to 8 hrs for step size 100.

[2019-06-19 18:40] sapnii2 commented on #39
it is in the dataset. download again.

[2019-06-19 18:42] sapnii2 commented on #49
*******************I resolved my query by deleting my pychche data and reatart.

[2019-06-19 19:25] #49 closed, assigned to nobody

[2019-06-20 02:44] sapnii2 commented on #2
Refer my result for Epoch-25
1-dice loss | 0.858600

[2019-06-20 02:45] sapnii2 commented on #2
I think it is in opencv

[2019-06-23 09:24] adarsheng1 commented on #47
Thank you Lafite-Yu for the code. I was able to successfully execute it. I have generated the .npz model for enhance and necrotic tumor. How can I know that which type of Tumor it is by executing the code on an input file of type .nii.gz

[2019-06-25 07:32] Lafite-Yu commented on #47
According to the readme document of this project, you should train one model for one task, relatively. And I didn't change this, you can change the code in `train.py` or use command like  `python train.py --task edema` to train to separate the edema part of the tumor.

[code]

You can see know more about that in `train.py`.

[2019-06-25 07:34] Lafite-Yu commented on #47
There are four values in the segmentation results of the BraTS dataset, shown as previous comment.

[2019-07-19 14:18] chaymaalyoubi commented on #16
hey can you please send me the code for test too , here is my email , chaymaa.lyo44@gmail.com

[2019-07-20 11:30] chaymaalyoubi opened #50 "Testing code"
Please can someone send me the testing code !!!

[2019-07-22 10:24] TigabuYaya commented on #16
can you send me the code for the test? My email address is
tyaya.mit@gmail.com

On Fri, Jul 19, 2019 at 5:18 PM chayou1 <notifications@github.com> wrote:

[2019-07-23 01:29] sapnii2 commented on #16
There is one bug in code and I am trying to resolve it. I will upload once
resolved.

Thanks & regards,

Swapnakumari
Pune
Cell: 09881083856

On Mon, Jul 22, 2019 at 3:54 PM TigabuYaya <notifications@github.com> wrote:

[2019-07-23 01:30] sapnii2 commented on #16
There is one bug in code and I am trying to resolve it. I will upload once
resolved.

Thanks & regards,

Swapnakumari
Pune
Cell: 09881083856

On Fri, Jul 19, 2019 at 7:48 PM chayou1 <notifications@github.com> wrote:

[2019-07-31 10:55] TigabuYaya commented on #50
can you please send me the training results?

[2019-08-03 12:23] bhparmar commented on #16
I am training the model 64 RAM DLGPU system.
can you please send me the testing code. bhparmar@ldce.ac.in

[2019-09-04 01:54] stalhabukhari opened #52 "Classification Layer - Activation & Shape?"
Hi!

I went through this repository after reading your [paper](https://arxiv.org/abs/1705.03820). Architecture on page 6, shows the final classification layer to produce feature maps of shape (240, 240, 2) which may indicate the use of a Softmax activation (not specified in the paper).
On the contrary, model used in code has a classification layer of shape (240, 240, 1) using [Sigmoid activation](

[2019-09-21 11:57] Small5 opened #53 "is there an article using this method and this dataset"
Have you submit an SCI or conference article using you method?

[2019-11-27 07:39] conglin10 commented on #16
Could you please send me the testing code？Thank you so much！ 327231509@qq.com

[2019-11-27 13:09] chaymaalyoubi commented on #16
Hey sorry i still dont have the test code, the owner of the code has told
me that he has a bug in the code

Le mer. 27 nov. 2019 à 08:39, Beverly <notifications@github.com> a écrit :

[2019-11-28 14:18] cnuzh commented on #16
---Original---
From: "chayou1"<notifications@github.com&gt;
Date: Wed, Nov 27, 2019 21:09 PM
To: "zsdonghao/u-net-brain-tumor"<u-net-brain-tumor@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"cnuzh"<1299028610@qq.com&gt;;
Subject: Re: [zsdonghao/u-net-brain-tumor] Code For Testing (#16)

Hey sorry i still dont have the test code, the owner of the code has told
 me that he ha

[2019-12-26 10:38] sneh-debug commented on #52
have you run the code ,is it working? giving desirable result?

[2019-12-26 10:41] sneh-debug commented on #52
in old implementation you can see softmax activation have been used.

[2019-12-26 10:50] sneh-debug commented on #34
2D data

[2020-01-08 06:23] shenzeqi opened #54 "Why is there no pool layer in u_net_bn ？"
Why is  there  no pool layer in u_net_bn ？

[2020-01-09 04:18] shenzeqi opened #55 "TypeError: zoom_multi() got an unexpected keyword argument 'is_random'"
Lossy conversion from float64 to uint8. Range [-0.18539370596408844, 2.158207416534424]. Convert image to uint8 prior to saving to suppress this warning.
Traceback (most recent call last):
  File "train.py", line 250, in <module>
    main(args.task)
  File "train.py", line 106, in main
    X[:,:,2,np.newaxis], X[:,:,3,np.newaxis], y])#[:,:,np.newaxis]])
  File "train.py", line 26, in distort_imgs

[2020-01-09 11:27] #55 closed, assigned to nobody

[2020-03-05 14:42] guido-niku opened #56 "Making sense"
Novice here, i noticed the shape of the X_train arrays ended with 4. (240,240,4)
Does each of those channel represent the type of the scan ( T1, t2, flair, t1ce ) ?

[2020-03-06 06:03] guido-niku commented on #56
My intent is to feed each time of scan to different model, and try an ensemble

[2020-03-08 06:10] guido-niku commented on #37
i encoutered this problem, actually they are not blank, i used randomized index to manually display some images, and i found that many were blank images, while others did have the proper pictures. Remember those are 2d images sliced from 3d volumes (if i am not mistaken) .  Not sure if this is to be expected or not ( maybe a slice of a volume that effectively contains nothing ?

[2020-03-08 09:04] sharmarochan commented on #37
Yes you are right, the problem was that it cannot be downloaded without git lft. I downloaded the dataset with python script.

[2020-04-04 09:16] Wytres commented on #16
Hi @rupalkapdi~ I‘m training the model these days. Could you please share the test.py and the test image with me. Many thanks~~~And my eamil is 1757422665@qq.com.

[2020-04-05 18:32] BTapan commented on #55
Can you share thr answer of this issue please, I got the same issue.

[2020-04-05 18:43] BTapan opened #57 "TypeError: zoom_multi() got an unexpected keyword argument 'is_random'"
[TL] [!] checkpoint exists ...
[TL] [!] samples/all exists ...
Lossy conversion from float64 to uint8. Range [-0.19753389060497284, 2.826017379760742]. Convert image to uint8 prior to saving to suppress this warning.
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-16-36e0847d9b91>

[2020-04-06 15:42] BTapan commented on #35
Did anyone know how to resolve this error?

[2020-04-07 04:48] #57 closed, assigned to nobody

[2020-04-09 12:49] Wytres opened #58 "survival_data.csv"
I want to ask what is survival_data.csv, and how can I do? Please

[2020-04-12 20:02] JiexiPinkman opened #59 "I wonder which dataset was exactly used,BRATS2015 or BRATS2017"
In your paper ,I see BRATS2015 was used.But in your github,your said BRATS2017

[2020-05-08 17:47] Anuj-IITBHU commented on #55
I am also getting the same issue, Could you help, please!

[2020-05-08 17:49] BTapan commented on #55
@Anuj-IITBHU If you are using new tensorlayer and tesnsorflow versions, then don't use them
use tensorlayer==1.6.0 and tensorflow==1.13.1

[2020-05-09 10:14] Anuj-IITBHU commented on #35
[!] Load checkpoint/u_net_all.npz failed!
I am also getting the above error.
Shouldn't training program create the checkpoint file? If some file with initial value is needed, where to find it?

[2020-05-09 10:18] Anuj-IITBHU commented on #55
Thank You for the help. To eliminate further errors I had to run it in python 3.5, with scipy version 0.18.0 and tensorflow and tensorlayer as stated above.

[2020-05-15 09:06] HozierEmily commented on #44
Hello, I want to use it on the data set of Brats2018. Have you succeeded?

[2020-05-20 16:25] Anuj-IITBHU commented on #16
Could you please share it. My email is mail.anuj96@gmail.com

[2020-05-23 11:21] TigabuYaya commented on #16
Can you please send me the output of this project. I especially need the
segmented images. my email address is tyaya.mit@gmail.com

On Wed, May 20, 2020 at 7:25 PM Anuj Agrawal <notifications@github.com>
wrote:

[2020-06-10 17:48] biswajit310 commented on #55
I face the same error while running the same code from github. Will follow the idesa shared by @Anuj-IITBHU and @BTapan . I am currently running on my CPU machine with 4 gb ram. how many hgg and lgg will I consider for smooth running of the code. plz. guide me. Or can anyone say the setup to run it on google colab.

[2020-06-10 18:06] Anuj-IITBHU commented on #55
While running for the full dataset on CPU, each epoch took about 6-7 hours while on GPU with 10gb memory, each epoch took 40-45 minutes.

[2020-06-10 18:39] biswajit310 commented on #55
@Anuj-IITBHU Thank you!!

[2020-06-10 19:36] biswajit310 commented on #55
Also run on python 3.8 also.

[2020-08-19 08:25] Jinyang-nwpu commented on #1
hi, link still work?

[2020-09-09 13:26] zhangshuang317 commented on #58
Have you solved this problem? I also want to get this data. Can you share it with me?

[2021-04-20 08:30] tphankr commented on #59
Please help me link in order to download BRATS2017. I finded it but did not have BRATS2017.
Thank you, very much.

[2021-04-20 10:25] tphankr opened #60 "What is checkpoint?"
When I run "python train.py" and then have a checkpoint folder is created.
What function of checkpoint folder? Thank you

And I also have another question. When we had the picture, as follows. Is that the end result? I mean we can submit them to the Brast_2018 challenge?
![image](https://user-images.githubusercontent.com/37217354/115381078-38390680-a1a1-11eb-9510-e801ac3b7096.png)

Thank you very

[2021-05-30 15:23] DHaiDang commented on #25
I can't download the data, you have another link ? please

[2021-05-30 15:25] DHaiDang commented on #1
link is dead, anyone have another link

[2022-11-19 09:59] Amit250 commented on #29
@zsdonghao Nope the paper doesn't answer the question.